:root {
    --50: #f4f3ff;
    --100: #ebe8ff;
    --200: #d8d5ff;
    --300: #b2a8ff;
    --400: #9a88fd;
    --500: #7a58fa;
    --600: #6935f2;
    --700: #5b23de;
    --800: #4b1dba;
    --900: #3f1a98;
    --950: #250e67;
}